{% extends 'main.html' %}
{% load static %}
{% block content %}
<body>
    <div style="display: flex; justify-content: space-between; margin-right: 200px;">
        <div>
            <a href="{% url '' %}">Go Home</a>
            <h1>LobbyId: {{lobbyId}}</h1>

            <div style="display: flex;">
                <h2>Timer: </h2>
                <h2 id="timer"></h2>
            </div>
        </div>
        
        <div>
            <h2>Score Table</h2>
            <div id="scoreTable"></div>
        </div>
    </div>

    <form id="playerWordForm" style="margin-left: 200px;">
        <label for="playerWord">Type next word</label>
        <input type="text" id="playerWord" name="playerWord">
    </form>

    <div id="words" style="width: calc(100% - 400px); margin: 0 auto; display: flex; flex-wrap: wrap;">
    </div>

    <script>
        const lobbyId = "{{ lobbyId }}";
    </script>
    <script src="{% static 'game.js' %}"></script>
</body>
{% endblock %}