{% extends 'main.html' %}
{% load static %}
{% block content %}
<body>
    <a href="{% url '' %}">Go Home</a>
    <h1>LobbyId: {{lobbyId}}</h1>

    <div style="display: flex;">
        <h2>Timer: </h2>
        <h2 id="timer"></h2>
    </div>

    <form id="playerWordForm">
        <input type="text" id="playerWord">
    </form>

    <div id="words" style="width: calc(100% - 400px); margin: 0 auto; display: flex; flex-wrap: wrap;">
    </div>

    <script>
        const lobbyId = "{{ lobbyId }}";
    </script>
    <script src="{% static 'game.js' %}"></script>
</body>
{% endblock %}