{% extends 'main.html' %}
{% block content %}
<body>
    <div>
        hello 
        {% if user.is_authenticated %}
        {{user.username}}
        {% else %}
        unknown
        {% endif %}
    </div>
    <form method="post" action="{% url 'create-lobby' %}">
        {% csrf_token %}
        <button type="submit">Create Lobby</button>
    </form>

    <form id="joinLobbyForm">
        <label for="joinLobby">lobby id:</label>
        <input type="number" name="joinLobby" id="joinLobby" required>
        <button type="submit">Join Lobby</button>
    </form>

    {% for lobby in lobbies %}
    <div style="display: flex; justify-content: space-between; width: 500px; border: solid 1px;">
        <div>lobby: {{lobby.id}}</div>
        <div>isActive: {{lobby.isActive}}</div>
        <a href="{% url 'join-lobby' lobby.id %}">Join Lobby</a>
    </div>
    {% endfor %}

    <script>
        document.getElementById('joinLobbyForm').addEventListener('submit', function(e) {
            e.preventDefault();

            const lobbyId = document.getElementById('joinLobby').value;
            window.location.href = `/lobby/${lobbyId.toString()}`;
        })

    </script>
</body>
{% endblock %}